*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100vh;
  width: 100vw;
  background-color: black;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: purple;
  padding: 20px;
  color: white;
}

h2{
  color: white;
}

footer{
  position: absolute;
  bottom:0px;
  height:100px;
  width: 100%;
  background-color: purple;
}

