*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav{
  height: 40px;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.right{
  display: flex;
  gap: 20px;
}