*{
    padding: 0;
    margin: 0;
}

.nav{
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}
.left{
    width: 60%;
}
.right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
