*{
    padding: 0;
    margin: 0;
}

.nav{
    background-color: red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 10px; */
}

.right{
    width: 40%;
    display: flex;
     align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.left{
    width: 60%;
}