*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  height: 50px;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}
.nav2{
  display: flex;
  gap: 16px;
}