* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background-color: yellow;
    padding: 40px;
}

#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
   
}

#right h2{
     padding: 20px;
}