*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(77, 45, 45, 0.4);
}
#card{
  margin: 60px auto;
  height: 300px;
  width: 600px;
  border: 2px solid rgb(141, 99, 99);
  border-radius: 20px;
  display: flex;
  box-shadow: 0 0 10px 10px black;
}
#left{
  width: 40%;
  padding: 20px;

}
#left h2{
  margin-bottom: 40px;
}
#left h3{
  margin:20px;
}
#right{
  width: 60%;
}
#right img{
  padding: 10px;
  height: 90%;
  width: 90%;
}