/* *{
  padding: 0;
  margin: 0;
  color: white;
}
body{
  background-color: black;
  height: 100vh;
  width: 100vw;
  padding: 30px;
}
.parent{
  display: flex;
  flex-wrap: wrap;
}
.child{
  width:200px;
  border: 2px solid white;
  padding: 10px;
  background-color: #222;
  border-radius: 20px;
}
.child p{
  margin: 10px;
}
.child button{
  padding: 10px 20px;
  background-color: #333;
} */