/* .div{
  height: 200px;
  width: 200px;
  background-color:gray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
} */

* {
  /* background-color: black; */
  /* color: white; */
  font-size: medium;
 
}
body{
  min-height: 100vh;
  max-width: 100vw;
}

.userDiv {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  /* align-items: center; */
  flex-wrap: wrap;
}

.userDivSep {
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
  height: 120px;
  width: 100px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.userImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}